.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500rem;
    min-width: 20px;
    min-height: 20px;
    font-size: $default-font-size;
    background-color: $main-color;
    color: $background-color;

    &.margined {
        &.horizontal {
            margin-left: 10px;
            margin-right: 10px;

            &.large {
                margin-left: 20px;
                margin-right: 20px;
            }
        }

        &.vertical {
            margin-top: 10px;
            margin-bottom: 10px;

            &.large {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }

        &.right {
            margin-right: 10px;

            &.large {
                margin-right: 20px;
            }
        }
    }

    &.inverted {
        background-color: $background-color;
        color: $main-color;

        &.light {
            color: $light-main-color;
        }
    }

    &.title {
        &.h1 {
            min-width: 60px;
            min-height: 60px;
            font-size: $h1-subtitle-font-size;
        }

        &.h2 {
            min-width: 45px;
            min-height: 45px;
            font-size: $h2-subtitle-font-size;
        }

        &.h3 {
            min-width: 35px;
            min-height: 35px;
            font-size: $h3-subtitle-font-size;
        }
    }
}
