/*
 * Colors
 */
$main-color: #273238;
$light-main-color: #36474f;
$background-color: white;
$clouds-color: #ecf0f1;
$light-grey-color: #aaabac;

/*
 * Sizes
 */
$default-font-size: 13px;

$h1-title-font-size: 30px;
$h2-title-font-size: 23px;
$h3-title-font-size: 20px;
$h4-title-font-size: 17px;

$h1-subtitle-font-size: 26px;
$h2-subtitle-font-size: 20px;
$h3-subtitle-font-size: 17px;
$h4-subtitle-font-size: 14px;

$max-width-small-screen: 999px;
