/*
 * Colors
 */
$main-color: #36474f;
$dark-main-color: #273238;
$background-color: white;
// $background-color: #ecf0f1;

/*
 * Sizes
 */
$default-font-size: 14px;

$h1-title-font-size: 30px;
$h2-title-font-size: 23px;
$h3-title-font-size: 20px;
$h4-title-font-size: 17px;

$h1-subtitle-font-size: 26px;
$h2-subtitle-font-size: 20px;
$h3-subtitle-font-size: 17px;
$h4-subtitle-font-size: 14px;
