.image {
    &.profile {
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }

    &.bordered {
        border: 1px solid $background-color;

        &.large {
            border: 5px solid $background-color;
        }

        &.light {
            border: 1px solid $light-main-color;

            &.large {
                border: 5px solid $light-main-color;
            }
        }

        &.clouds {
            border: 1px solid $background-color;

            &.large {
                border: 5px solid $background-color;
            }
        }
    }
}
