.list {
    padding: 0;
    margin: 0;
    padding-right: 20px;
    list-style-type: none;

    &.rounded {
        li {
            border-radius: 4px;
        }
    }

    li {
        display: block;
        padding: 3px 5px;

        &:hover {
            cursor: default;
            background-color: $clouds-color;
        }
    }

    &.inverted li:hover {
        background-color: $background-color;
    }
}
