<section>
    <div class="title">
        <span class="badge title h2"><i class="fa fa-briefcase"></i></span>
        <h2 class="title uppercased">work experiences</h2>
    </div>
    <div class="title">
        <span class="badge title h2"><i class="fa fa-graduation-cap"></i></span>
        <h2 class="title uppercased">education</h2>
    </div>
    <div class="title">
        <span class="badge title h2"><i class="fa fa-code"></i></span>
        <h2 class="title uppercased">skills</h2>
    </div>
    <div class="title">
        <span class="badge title h2"><i class="fa fa-code-fork"></i></span>
        <h2 class="title uppercased">tools</h2>
    </div>
    <div class="title">
        <span class="badge title h2"><i class="fa fa-language"></i></span>
        <h2 class="title uppercased">languages</h2>
    </div>
</section>
