<!-- First page -->
<section class="height width max" style="overflow-y: hidden;">
    <section id="first-page" class="display flex direction column all centered height width max">
        <div id="lang-container" class="display flex justified width max position absolute origin">
            <div class="lang modal">
                <a (click)="toggleLangModal( $event )" class="link inverted">{{ langUsed.name }} <i class="fa fa-angle-down"></i></a>
                <div class="default content">
                    <i class="fa fa-caret-up caret" aria-hidden="true"></i>
                    <ul class="list large modal">
                        <li *ngFor="let lang of langs" (click)="changeLang( lang.tag, $event )" class="clickable">
                            <span>{{ lang.name }}</span>
                            <img class="float right image rounded in-list" src="{{ lang.flag }}" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <section id="image-profile-container">
            <div id="card-image-profile">
                <figure class="front"><img alt="" class="image profile rounded main-image" src="/public/assets/images/julien-sergent.jpg"></figure>
                <figure class="back"><img alt="" class="image profile rounded main-image" src="/public/assets/images/js.jpg"></figure>
            </div>
        </section>
        <h1 class="title" id="main-title">Julien Sergent</h1>
        <h1 class="title color clouds" id="main-subtitle">{{ 'profile.webDeveloper' | translate }}</h1>
        <button (click)="gotoProfile()" class="button inverted">{{ 'firstPage.showResume' | translate }}</button>
    </section>
</section>

<!-- navbar -->
<nav id="nav-root" class="display block float left width w-a-quarter navbar-left migration w-to-max">
    <div id="nav-container" class="width a-quarter color clouds migration w-to-max to-relative">
        <div id="user-container" class="display flex all centered direction column content migration to-none">
            <img src="/public/assets/images/julien-sergent.jpg" alt="" class="image profile rounded">
            <h2 id="profil-title" class="title bold">Julien Sergent</h2>
            <h3 class="subtitle">{{ 'profile.webDeveloper' | translate }}</h3>
        </div>

        <div class="content">
            <section>
                <div class="title">
                    <span class="badge title h3 margined right"><i class="fa fa-user"></i></span>
                    <h3 id="about-me-title" class="subtitle">{{ 'about.title' | translate }}</h3>
                </div>
                <p class="content horizontal small reduced-margin">{{ 'about.text' | translate }}</p>
                <div class="display flex items-centered content horizontal small">
                    <span class="badge inverted light margined right"><i class="fa fa-github"></i></span>
                    <p><a class="link inverted" href="https://github.com/MadDeveloper" target="_blank">MadDeveloper</a></p>
                </div>
            </section>
            <section>
                <div class="title">
                    <span class="badge title h3 margined right"><i class="fa fa-envelope"></i></span>
                    <h3 class="subtitle">{{ 'contact.title' | translate }}</h3>
                </div>
                <div class="display flex items-centered content horizontal small">
                    <span class="badge inverted light margined right"><i class="fa fa-map-marker"></i></span>
                    <p class="reduced-margin">31000 Toulouse, France</p>
                </div>
                <div class="display flex items-centered content horizontal small">
                    <span class="badge inverted light margined right"><i class="fa fa-envelope"></i></span>
                    <p class="reduced-margin"><a class="link inverted" href="mailto:sergent.julien@icloud.com">sergent.julien@icloud.com</a></p>
                </div>
                <div class="display flex items-centered content horizontal small">
                    <span class="badge inverted light margined right"><i class="fa fa-linkedin"></i></span>
                    <p class="reduced-margin"><a class="link inverted" href="https://fr.linkedin.com/in/julien-sergent-8b471791" target="_blank">julien-sergent-8b471791</a></p>
                </div>
            </section>
        </div>
    </div>
</nav>

<!-- main content -->
<section id="main-section" class="display block float left height h-max width w-three-quarters content migration w-to-max">
    <section class="section-item">
        <div class="title">
            <span class="badge title h2 margined"><i class="fa fa-briefcase"></i></span>
            <h1 class="title">{{ 'workExperiences.title' | translate }}</h1>
        </div>

        <article>
            <h2 class="title event">{{ 'workExperiences.angular2Developer.title' | translate }}</h2>
            <p class="metadata">
                <span class="location"><i class="fa fa-building"></i> Twinipix</span><span class="date"><i class="fa fa-calendar"></i> 18 Juillet 2016 - 18 Octobre 2016</span>
            </p>
            <p class="event content">
                {{ 'workExperiences.angular2Developer.textPart1' | translate }}<br>
                {{ 'workExperiences.angular2Developer.textPart2' | translate }}
            </p>
        </article>

        <article>
            <h2 class="title event">{{ 'workExperiences.phpDeveloper1.title' | translate }}</h2>
            <p class="metadata">
                <span class="location"><i class="fa fa-building"></i> Prep'App</span><span class="date"><i class="fa fa-calendar"></i> 01 Novembre 2014 - 28 Juin 2016</span>
            </p>
            <p class="event content">
                {{ 'workExperiences.phpDeveloper1.textPart1' | translate }}<br>
                {{ 'workExperiences.phpDeveloper1.textPart2' | translate }}
            </p>
        </article>

        <article>
            <h2 class="title event">{{ 'workExperiences.wordpressDeveloper.title' | translate }}</h2>
            <p class="metadata">
                <span class="location"><i class="fa fa-building"></i> 3WCOM</span><span class="date"><i class="fa fa-calendar"></i> 20 Septembre 2014 - 31 Octobre 2014</span>
            </p>
            <p class="event content">
                {{ 'workExperiences.wordpressDeveloper.textPart1' | translate }}<br>
                {{ 'workExperiences.wordpressDeveloper.textPart2' | translate }}
            </p>
        </article>

        <article>
            <h2 class="title event">{{ 'workExperiences.phpDeveloper2.title' | translate }}</h2>
            <p class="metadata">
                <span class="location"><i class="fa fa-building"></i> Devster</span><span class="date"><i class="fa fa-calendar"></i> 01 Novembre 2013 - 20 Décembre 2013</span>
            </p>
            <p class="event content">
                {{ 'workExperiences.phpDeveloper2.textPart1' | translate }}<br>
                {{ 'workExperiences.phpDeveloper2.textPart2' | translate }}
            </p>
        </article>
    </section>

    <section class="section-item bgcolor clouds remove-main-section-padding">
        <div class="title">
            <span class="badge title h2 margined"><i class="fa fa-graduation-cap"></i></span>
            <h1 class="title">{{ 'educations.title' | translate }}</h1>
        </div>

        <article>
            <h2 class="title event">{{ 'educations.licence.title' | translate }}</h2>
            <p class="metadata">
                <span class="location"><i class="fa fa-building"></i> Supinfo</span><span class="date"><i class="fa fa-calendar"></i> 2013 - 2016</span>
            </p>
            <p class="event content">{{ 'educations.licence.text' | translate }}</p>
        </article>

        <article>
            <h2 class="title event">{{ 'educations.bac.title' | translate }}</h2>
            <p class="metadata">
                <span class="location"><i class="fa fa-building"></i> Lycée Clément-Marot</span><span class="date"><i class="fa fa-calendar"></i> 2012 - 2013</span>
            </p>
            <p class="event content">{{ 'educations.bac.text' | translate }}</p>
        </article>
    </section>

    <section class="section-item">
        <div class="title">
            <span class="badge title h2 margined"><i class="fa fa-code"></i></span>
            <h1 class="title">{{ 'skills.title' | translate }}</h1>
        </div>

        <article>
            <div class="event content">
                <ul class="float left width half list rounded migration to-unfloat w-to-max to-block">
                    <li>
                        <span>Javascript</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </span>
                    </li>
                    <li>
                        <span>Node.js</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </span>
                    </li>
                    <li>
                        <span>PHP</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </span>
                    </li>
                    <li>
                        <span>HTML</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </span>
                    </li>
                    <li>
                        <span>CSS</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </span>
                    </li>
                    <li>
                        <span>MySQL / MariaDB</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </span>
                    </li>
                    <li>
                        <span>jQuery</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </span>
                    </li>
                    <li>
                        <span>Typescript</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </li>
                    <li>
                        <span>Angular 2</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </li>
                    <li>
                        <span>Firebase</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </li>
                </ul>
                <ul class="float right width half list rounded migration to-unfloat w-to-max to-block">
                    <li>
                        <span>Bootstrap</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </li>
                    <li>
                        <span>Semantic-UI</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </li>
                    <li>
                        <span>SQL</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </li>
                    <li>
                        <span>MongoDB</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </li>
                    <li>
                        <span>UML</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </li>
                    <li>
                        <span>SASS</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </li>
                    <li>
                        <span>Linux</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </li>
                    <li>
                        <span>Design Pattern</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </li>
                    <li>
                        <span>SEO</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </li>
                    <li>
                        <span>C / C++</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </li>
                </ul>
                <div class="clear both"></div>
            </div>
        </article>
    </section>

    <section class="section-item bgcolor clouds remove-main-section-padding">
        <div class="title">
            <span class="badge title h2 margined"><i class="fa fa-code-fork"></i></span>
            <h1 class="title">{{ 'tools.title' | translate }}</h1>
        </div>

        <article>
            <div class="event content">
                <ul class="float left width half list rounded inverted migration to-unfloat w-to-max to-block">
                    <li>
                        <span>NPM</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </span>
                    </li>
                    <li>
                        <span>JSPM</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </span>
                    </li>
                    <li>
                        <span>Bower</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </span>
                    </li>
                    <li>
                        <span>Babel</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </li>
                    <li>
                        <span>Git</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </li>
                </ul>
                <ul class="float right width half list rounded inverted migration to-unfloat w-to-max to-block">
                    <li>
                        <span>Gulp</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </li>
                    <li>
                        <span>Apache</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </li>
                    <li>
                        <span>Atom</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </li>
                    <li>
                        <span>PHPStorm</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </li>
                    <li>
                        <span>Docker</span>
                        <span class="float right">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </li>
                </ul>
                <div class="clear both"></div>
            </div>
        </article>
    </section>

    <section class="section-item">
        <div class="title">
            <span class="badge title h2 margined"><i class="fa fa-language"></i></span>
            <h1 class="title">{{ 'languages.title' | translate }}</h1>
        </div>

        <article>
            <ul class="list rounded float left width half text-centered">
                <li>
                    <img src="/public/assets/images/fr.jpg" alt="french flag" class="image rounded medium">
                    <span class="display block">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </span>
                </li>
            </ul>
            <ul class="list rounded float left width half text-centered">
                <li>
                    <img src="/public/assets/images/en.jpg" alt="english flag" class="image rounded medium">
                    <span class="display block">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                    </span>
                </li>
            </ul>
            <div class="clear both"></div>
        </article>
    </section>
</section>
