@import 'styles/conf';
@import 'styles/fonts';
@import 'styles/texts';
@import 'styles/displays';
@import 'styles/sizes';
@import 'styles/images';
@import 'styles/buttons';
@import 'styles/badges';
@import 'styles/lists';
@import 'styles/modals';
@import 'styles/filters';

*,
:after,
:before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: $background-color;
    height: 100%;
    color: $main-color;
    // overflow-x: hidden;
    line-height: 1.64;
}

app {
    overflow-y: auto;
}

app,
home {
    display: block;
    height: 100%;
}
