@import '../../styles/conf';

#nav-container {
    background-color: $main-color;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    * {
        color: $background-color;
    }

    #user-container {
        height: 300px;
        background-color: $dark-main-color;
        margin-bottom: 0;
    }

    #profil-title {
        margin-bottom: 5px;

        & + .subtitle {
            margin: 0;
        }
    }
}
